<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtrane">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>


    <application
        android:name=".utils.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jannet_stable_code"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.parentsApp.MatchHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.parentsApp.TicketBookingRequest"
            android:exported="false" />
        <activity
            android:name=".ui.parentsApp.EventRegisterRequestActivity"
            android:exported="false" />
        <activity android:name=".ui.coachApp.SeacrchLocationGoogleActivity" />
        <activity android:name=".ui.parentsApp.RegisteredMatchActivity" />
        <activity android:name=".ui.parentsApp.BookeEventActivity" />
        <activity android:name=".ui.coachApp.SelectCoachSportAccountActivity" />
        <activity android:name=".ui.coachApp.EditMainTeamActivity" />
        <activity android:name=".ui.coachApp.AddMainTeamActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddParticipantActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddMemberInTeamActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.TeamDetailActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.TeamsDetailAndAddParticipentActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.EditEventActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.EditTeamActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.EditMatchActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.TickitsActivityCoach" />
        <activity android:name=".ui.coachApp.addEventScreen.BookingDetail2Activity" />
        <activity android:name=".ui.coachApp.addEventScreen.BookingDetailActivity" />
        <activity android:name=".ui.coachApp.AddNewLocationActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.FinalAddEventActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddedMatchlistActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddMatchFActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddMatchActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddedTeamListActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddTeamsFinalActivity" />
        <activity android:name=".ui.coachApp.addEventScreen.AddTeamsActivity" />
        <activity android:name=".ui.commonApp.ForgotPasswordActivity" />
        <activity android:name=".ui.commonApp.PaymentActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCl7SGfKSyWLEqVkpiUtur0tZ_yqJzED7I" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.commonApp.StaticActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.coachUpdateProfileScreen.CoachUpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.addEventScreen.AddEventActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.coachApp.AddMatchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.CreateLeagueActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.CreateTeamActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.ParticipantsListActivity"
            android:exported="true" />

        <!--<activity
            android:name=".imagecropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />-->

        <activity
            android:name=".ui.parentsApp.ParentBookActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.VenueActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.EventAboutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.TeamsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.MatchListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.commonApp.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.EventDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.BookSignatureActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.TeamDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.CoachesDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.ParentUpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.commonApp.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.addChildScreen.AddChildActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coachApp.CoachMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.ParentsMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.SelectSportsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.PhoneEmailVerificationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.loginRegister.registerCoachScreen.RegisterCoachActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.RegisterParentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.RegisterAdultActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.loginScreen.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginRegister.UserTypeSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.parentsApp.BalanceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parentsApp.BuyCoinsActivity"
            android:exported="true" />

        <activity
            android:name=".ui.coachApp.ArchiveEventsActivity"
            android:exported="true" />
    </application>

</manifest>